.header {
    background: var(--white-color);
    position: initial;
    height: 10rem;
}

.header-logo__title {
    font-size: 2.2rem;
    color: var(--black-color);
    display: inline-block;
}

.header__help-title {
    color: var(--red-color-light);
    font-size: var(--font-size-md);
}

.main-login {
    height: 66rem;
    background-color: rgb(238, 77, 45);
}

.main-login__container {
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.main-login__img {
    height: 100%;
}

.main-login__img img {
    height: 100%;
}

.main-login__form {
    position: absolute;
    top: 5rem;
    right: 10rem;
    width: 39rem;
    min-height: 45rem;
    background-color: var(--white-color);
    border-radius: 0.3rem;
    padding: 2rem 3rem;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 0.5rem;
}

.main-login--not-accout {
    min-height: 42rem;
    top: 9rem;
}

.main-login--not-accout .main-login-form__header {
    display: none;
}

.login-form-header__title {
    font-size: 2rem;
}

.main-login__form .login-form-header__title--not-accout {
    display: none;
}

.main-login--not-accout .login-form-header__title--not-accout {
    display: block;
}

.login-form-header-selection__title {
    width: 15rem;
    padding: 1rem;
    background-color: yellow;
    text-align: left;
    border: 0.2rem solid #ffbf00;
    color: #ffbf00;
    background-color: #fefaec;
    border-radius: var(--border-radius-02);
    font-size: var(--font-size-s);
    font-weight: 600;
    position: relative;
}

.login-form-header-selection__title::after {
    position: absolute;
    content: "";
    background-color: #fefaec;
    border-top: transparent;
    border-left: transparent;
    border-right: 2px solid #ffbf00;
    border-bottom: 2px solid #ffbf00;
    right: -0.78rem;
    top: 2.1rem;
    width: 1rem;
    height: 1rem;
    transform: rotate(-45deg);
}

.login-form-header-selection__img {
    width: 4rem;
    height: 4rem;
}

.main-login--not-accout .form__login {
    display: none;
}

.form-login__ground {
    height: 7rem;
}

.main-login__form .form-login__ground--not-accout {
    display: none;
}

.main-login--not-accout .form-login__ground--not-accout {
    display: block;
}

.main-login--not-accout .form-login__ground {
    margin: 3rem 0 1rem 0;
}

.form-login__ground.invalid .form-login__input {
    border: 0.1rem solid var(--red-color-light);
    background: #fff6f7;
}

.form-login__input {
    padding: 1.2rem 1rem;
    width: 100%;
    outline: none;
    border: 0.1rem solid #ccc;
    border-radius: var(--border-radius-02);
}

.form-login__input::placeholder {
    color: var(--gray-color-light);
}

.form-login__messeage {
    display: block;
    padding: 0.6rem 0;
    font-size: var(--font-size-sm);
    color: var(--red-color-light);
}

.form-login__btn {
    width: 100%;
    background-color: var(--red-color-light);
    padding: 1.2rem;
    border-radius: var(--border-radius-02);
    outline: none;
    border: none;
    color: var(--white-color);
    font-weight: 600;
    opacity: 0.7;
}

.main-login__form .form-login__btn--not-accout {
    display: none;
}

.main-login--not-accout .form-login__btn--not-accout {
    display: block;
}

.main-login--not-accout .form-login__btn {
    margin-bottom: 2rem;
}

.form-login__btn:hover {
    cursor: no-drop;
}

.form-login__btn.presently,
.form-login__btn--not-accout.presently {
    opacity: 1;
}

.form-login__btn.presently:hover,
.form-login__btn--not-accout.presently:hover{
    cursor: pointer;
}

.main-login--not-accout .form-login__other {
    display: none;
}

.form-login-other__link {
    color: #2673dd;
    font-size: var(--font-size-sm);
}

.form-login-divider-frame__line {
    height: 0.2rem;
    width: 43%;
    background-color: #e5e5e5;
}

.form-login-divider-frame__or {
    font-size: var(--font-size-sm);
    color: var(--gray-color-light);
}

.form-login__other-options {
    padding-bottom: 4.6rem;
}

.form-login-other-options__link {
    justify-content: center;
}

.form-login-other-options__img {
    width: 3.5rem;
    height: 3.5rem;
}

.form-login-other-options__btn {
    color: var(--white-color);
    border: none;
    outline: none;
    border-radius: var(--border-radius-02);
    padding: 0.3rem 0;
    width: 32%;
}

.form-login-other-options__btn:first-child {
    background-color: #1877f2;
}

.form-login-other-options__btn:nth-child(2) {
    background-color: #4285f4;
    padding: 0.3rem 2rem 0.3rem 0.3rem;
}

.form-login-other-options__btn:nth-child(2) img {
    border-radius: var(--border-radius-02);
}

.form-login-other-options__btn:last-child {
    background-color: var(--black-color);
}

.form-login__policy {
    text-align: center;
    max-width: 25rem;
    margin: 0 auto;
    padding-bottom: 3rem;
    font-size: 1.1rem;
    line-height: 1.4rem;
}

.main-login__form .form-login__policy {
    display: none;
}

.main-login--not-accout .form-login__policy {
    display: block;
}

.form-login-policy__link {
    color: var(--red-color-light);
}

.form-login__register {
    text-align: center;
    font-size: var(--font-size-l);
    color: var(--gray-color-light);
}

.form-login-register__link {
    color: var(--red-color-light);
}

.main-login--not-accout .form-login-register__link--have-accout {
    display: none;
}

.main-login__form .form-login-register__link--not-accout {
    display: inline-block;
}

.main-login--not-accout .form-login-register__link--have-accout {
    display: none;
}

.main-login__form .form-login-register__link--not-accout {
    display: none;
}

.main-login--not-accout .form-login-register__link--not-accout {
    display: inline-block;
}

.main-login__form .form-login-register__link--have-accout {
    display: inline-block;
}

.main-login--not-accout .form-login-register__link--have-accout {
    display: none;
}

.main-login__qacode {
    position: absolute;
    top: 6rem;
    right: 10rem;
    width: 39rem;
    min-height: 45rem;
    background-color: var(--white-color);
    border-radius: 0.3rem;
    padding: 2rem 3rem;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 0.5rem;
    display: none;
}

.login-form-header__title--qacode {
    max-width: 10rem;
}

.login-form-header-selection__title--qacode {
    width: 13rem;
}

.main-login-qacode__img {
    width: 100%;
    padding: 3.5rem 7rem;
}

.main-login-qacode__img img {
    width: 100%;
}

.main-login-qacode__title {
    text-align: center;
    font-size: var(--font-size-xxl);
    color: var(--black-color);
}

.main-login-qacode__subtitle {
    text-align: center;
    font-size: var(--font-size-l);
    color: #1877f2;
}

.footer {
    border-top: none;
    padding-top: 0;
}